.header {
  width: 100%;
  height: 5rem;
  background: #ffecb3;
  display: inline;

  &__logo-wrapper {
    width: 25%;
    margin-left: 5rem;
    &__img {

    }
  }

  &__nav-wrapper {
    width: 35%;
    justify-content: right;
    right: 0.5rem;
    display: inline;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        display: inline;
        margin: 1rem;
      }
      a {
        text-decoration: none;

        :hover,
        :active {
          color: orange;
        }
      }
    }

  }
}
