.header {
  width: 100%;
  height: 5rem;
  background: antiquewhite;

  &__logo-wrapper {


    &__img {

    }

  }

  &__nav-wrapper {

    ul {

      li {
        list-style-type: none;
      }
    }

  }
}
