.footer {
  width: 100%;
  min-height: 20rem;
  background-color: coral;
  margin-bottom: 0;
  display: grid;

  &__container-wrapper {
    width: 90%;
    margin: 1rem auto;
    display: inline;

    &__container {
      width: 25%;
      display: inline-grid;
      margin-top: 1rem;
      margin-left: 5rem;
      padding: 0.5rem;
      box-shadow: 3px 3px 3px #545454;
      border: 1px solid black;
      border-radius: 25px;

    }

  }
}
